@tailwind base;
@tailwind components;
@tailwind utilities;

/* [data-rk] is a wrapper that comes from RainbowKitProvider, it should have the same styles as root container */
html, body, [data-rk] {
  display: flex;
  min-height: 100%;  
  flex-direction: column;
  flex-grow: 1;
}
